<!--header.html-->

<!doctype html>
<html>
	<head>
		<!--Use the title variable to set the title of the page-->
		<title>{{ .title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">

		<!--Use bootstrap to make the application look nice-->
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="" crossorigin="anonymous"></script>
		<script async src="/resources/lengthen.js" integrity="" crossorigin="anonymous"></script>
		<script async src="/resources/a.js" integrity="" crossorigin="anonymous"></script>
	</head>

	<body class="container">
		<!--Embed the menu.html template at this location-->
		{{ template "menu.html" . }}
