<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<script async src="/resources/submit.js" integrity="" crossorigin="anonymous"></script>

<h1>Hello {{ .hello }}!</h1>

<p><a href="/">Back to safety</a></p>

<form method="post">
	<label for="url">URL: </label>
	<input type="input" value="http://digi.ninja" name="url" id="url" />
	<input type="button" name="submit" id="submit" value="Submit" />
</form>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
